.Items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Items a {
  text-decoration: none;
  color: #1a0303;
  margin: 2px;
}

.Items .Items-Title{
  text-decoration: none;
  color: #1a0303;
}

.Item-images {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 1;
}

.Items h1 {
  margin: 0;
  font-weight: lighter;
  padding: 5px;
}


