.Items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: flex-start; */
}

.Items a {
  text-decoration: none;
  color: #1a0303;
  margin: 2px;
}

.Items .Items-Title{
  text-decoration: none;
  color: #1a0303;
}

.Item-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Image-wrapper {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.Items h1 {
  margin: 0;
  font-weight: 300;
  padding: 5px;
  font-size: 18px;
}
