.Items {
  width: 100%;
  text-align: center;
  position: relative;
}

/* .Items img {
  width: 100%;
  height: auto;
} */

.hours {
  font-style: italic;
}

.Items .Items-Title{
  text-decoration: none;
  color: #000;
}

.Items h1 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  font-weight: lighter;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  text-align: left;
}

.Items .Items-Info {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}

.Items .Items-Info div {
  display: inline-block;
  padding: 0.25em 0.5em;
  background-color: rgba(255, 255, 255, 0.9);
}